<app-header></app-header>
 
<header>
  <div class="container">
    <h1>Welcome to Our Website</h1>
    <p>Discover a world of knowledge with our diverse range of courses and instructors.</p>
  </div>
</header>

<section class="features">
  <div class="container">
    <div class="feature">
      <img src="../../assets/images/unnamed (3).jpg" alt="Course Image 1">
      <h2>Online Courses</h2>
      <p>Explore our extensive collection of online courses, designed to fit your schedule.</p>
    </div>
    <div class="feature">
      <img src="../../assets/images/unnamed (2).jpg" alt="Course Image 2">
      <h2>Offline Courses</h2>
      <p>Join our in-person workshops and seminars for hands-on learning experiences.</p>
    </div>
    <div class="feature">
      <img src="../../assets/images/צילום מחלמגכחהמןנ2024-03-12 191953.png" alt="Course Image 3">
      <h2>Expert Instructors</h2>
      <p>Learn from industry professionals and subject matter experts in every field.</p>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>About Us</h2>
    <p>Our mission is to provide accessible and high-quality education to learners around the world. We believe that everyone deserves the opportunity to learn and grow, regardless of their background or circumstances.</p>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; 2024 Our Website. All rights reserved to Racheli & Sari</p>
  </div>
</footer>