.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
  }
  
  .form-wrapper {
    background-color: #f8f9fa;
    padding:2px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  
  
  .text-rose {
    color: #ff69b4;
  }
  
  .bg-gray {
    background-color: #ccc;
  }
  
  .btn-pink {
    background-color: #81757b;
    border-color: #ff69b4;
  }
  
  .btn-pink:hover {
    background-color: #ff5eab;
    border-color: #ff5eab;
  }
  .custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-wrapper {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .text-rose {
    color: #ff69b4;
  }
  
  .bg-gray {
    background-color: #ccc;
  }
  
  .btn-pink {
    background-color: #ff69b4;
    border-color: #ff69b4;
  }
  
  .btn-pink:hover {
    background-color: #ff5eab;
    border-color: #ff5eab;
  }
  .bg-pink:focus {
    
    border-color: #ff69b4 !important;
  
  }